<div class="row movie-card">
    <div class="d-flex justify-content-between align-items-center col-md-8">
       <h5 class="movie-card-title">{{ movie?.title }}</h5>
       <div class="movdetails">
          <span>Duration : {{ movie?.duration | duration }}</span>
          <span>Budget : {{ movie?.budget | budget  }} </span>
          <span>Release Date : {{ movie?.release_date }} </span>
       </div>
    </div>
    <div class="col-md-4">
       <button (click)="navigateToDetails(movie?.id)">Details</button>
    </div>
    <hr>
 </div>